<font size=6> Fuel Price in India </font>

The data is daily diesel price across the various city in India. The charge varies state to state has Indian state government levy extra tax on the fuel. The government changed over time. The new fuel charge update rule came into effect.

**Content**

The data consist of the date, fuel price and city name. There are a total of seven cities, such as Bengaluru, Chennai, Mumbai, Hyderabad, Delhi, Kolkata and Coimbatore.

* source: [mypetrolprice.com](https://www.mypetrolprice.com/diesel-price-in-india.aspx)

<center><img src='fuel_station.jpg'></center>

***
**Steps**
1. [Explore data set](#Explore-data-set)

# Import library

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Import data set

In [9]:
path ='dataset/'
#path = '../input/'

df = pd.read_csv(path+'diesel.csv')
print('Number of rows and columns in Hacker value data set',df.shape)

Number of rows and columns in Hacker value data set (7882, 3)

In [6]:
city = {1:"Bengaluru",2:"Chennai",3:"Mumbai",4:"Hyderabad",5:"Delhi",6:"Kolkata",7:"Coimbatore"}

In [24]:
df['cityid'] = df['cityid'].replace(city)

In [10]:
state = {"Bengaluru":"Karnataka","Chennai":"Tamil Nadu",
         "Mumbai":"Maharashtra","Hyderabad":"Telangana","Delhi":"Delhi","Kolkata":"West Bengal",
         "Coimbatore":"Tamil Nadu"}

In [13]:
df['state'] = df['city'].replace(state)

In [14]:
df.head()

    rate     city        date       state
0  18.23    Delhi  2002-06-16       Delhi
1  20.06  Chennai  2002-07-01  Tamil Nadu
2  18.23    Delhi  2002-07-01       Delhi
3  20.06  Chennai  2002-08-01  Tamil Nadu
4  18.23    Delhi  2002-08-01       Delhi

1. Bengaluru 
1. Chennai 
2. Mumbai 
3. Hyderabad 
4. Delhi 
5. Kolkata 
6. Coimbatore

In [28]:
cols = ['BaseRate','cityid','Date']
df1 = df[cols]
columns = {'BaseRate':'rate','cityid':'city','Date':'date'}
df1 = df1.rename(columns=columns)

In [15]:
df.to_csv('dataset/diesel.csv',index=False)

In [3]:
path ='dataset/'
#path = '../input/'

df = pd.read_csv(path+'diesel1.csv')
print('Number of rows and columns in Hacker value data set',df.shape)

Number of rows and columns in Hacker value data set (7882, 3)

In [8]:
df['date'].min()

'2002-06-16'